.App {
  margin: 8px;
}

pre,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 1rem;
  color: #733030;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

h2 code {
  font-size: inherit;
}

header .subtitle {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: normal;
}

.anchor-links {
  font-size: 0.75rem;
}
